{% extends "auth/base.html" %}
{% block title %}사용자 신규 등록{% endblock %}
{% block content %}
<div class="mx-auto dt-auth-main">
  <div class="card dt-auth-signup">
    <header class="card-header">사용자 신규 등록</header>
    <section class="card-body">
      <form method="post" action="{{ url_for('auth.signup', next=request.args.get('next')) }}" class="form-signin">
        {{ form.csrf_token }}
        {% for message in get_flashed_messages() %}
        <div class="dt-auth-flash text-danger mb-3">{{ message }}</div>
        {% endfor %}
        
        <div class="mb-3">
          {{ form.username(class="form-control dt-auth-input", placeholder="사용자명") }}
        </div>
        <div class="mb-3">
          {{ form.email(class="form-control dt-auth-input", placeholder="메일 주소") }}
        </div>
        <div class="mb-3">
          {{ form.password(class="form-control dt-auth-input", placeholder="비밀번호") }}
        </div>
        {{ form.submit(class="btn btn-md btn-primary btn-block dt-auth-btn w-100") }}
      </form>
    </section>
  </div>
</div>
{% endblock %}